<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MarketSN" value="NADEV" />
    <add key="MarketId" value="1" />
    <add key="DownloadFolder" value="C:\Temp\" />
    <add key="Target" value="C:\MCPClient\Processing" />
    <add key="ExecuteDir" value="C:\NAP" />
    <add key="PatchScriptFile" value="PatchScript.ps1" />
    <add key="PatchServer" value="http://localhost/Pavilions/" />
    <add key="ServiceUrl" value="http://localhost:51242/" />
    <!--download interval is minutues unit-->
    <add key="DownloadCheckerInterval" value="10000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings><add name="NAPClientDb" connectionString="metadata=res://*/ClinentDbModel.DataModel.UpdaterModel.csdl|res://*/ClinentDbModel.DataModel.UpdaterModel.ssdl|res://*/ClinentDbModel.DataModel.UpdaterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=NAPClientDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="NAPClientDbContext" connectionString="metadata=res://*/ClinentDbModel.DataModel.UpdaterModel.csdl|res://*/ClinentDbModel.DataModel.UpdaterModel.ssdl|res://*/ClinentDbModel.DataModel.UpdaterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=NAPClientDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings><add name="NAPClientDb" connectionString="metadata=res://*/ClinentDbModel.DataModel.UpdaterModel.csdl|res://*/ClinentDbModel.DataModel.UpdaterModel.ssdl|res://*/ClinentDbModel.DataModel.UpdaterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=NAPClientDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="NAPClientDbContext" connectionString="metadata=res://*/ClinentDbModel.DataModel.UpdaterModel.csdl|res://*/ClinentDbModel.DataModel.UpdaterModel.ssdl|res://*/ClinentDbModel.DataModel.UpdaterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=NAPClientDb;user id=sa;password=as;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MCPSvcSoap">
          <security mode="Transport" />
        </binding>
        <binding name="MCPSvcSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.smartmarketadmindev.com/MCPSvc.asmx" binding="basicHttpBinding" bindingConfiguration="MCPSvcSoap" contract="MCPSvc.MCPSvcSoap" name="MCPSvcSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>