<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MarketSN" value="David"/>
    <add key="DownloadFolder" value ="C:\MarketName_Patches\"/>
    <add key="Target" value ="C:\NP"/>
    <add key="PatchServer" value="http://localhost/Pavilions/"/>
    <add key="ServiceUrl" value ="http://localhost:51242/"/>
  </appSettings>
  
</configuration>